<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @product.name %>
</p>

<p>
  <b>Marca:</b>
  <%= @product.mark %>
</p>

<p>
  <b>Descrição:</b>
  <%= @product.description %>
</p>
<p>
  <b>Gênero:</b>
  <%= @product.gender.name %>
</p>
<p>
  <b>Unidade de Medida:</b>
  <%= @product.unit.name %>
</p>

<%= link_to 'Editar', edit_admin_product_path(@product) %> |
<%= link_to 'Voltar', admin_products_path %>
