<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @product_offer.product_id %>
</p>

<p>
  <b>Price:</b>
  <%= @product_offer.price %>
</p>

<p>
  <b>User:</b>
  <%= @product_offer.user_id %>
</p>


<%= link_to 'Edit', edit_product_offer_path(@product_offer) %> |
<%= link_to 'Back', product_offers_path %>
