<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Mark:</b>
  <%= @product.mark %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>



<%= link_to 'Back', products_path %>
